/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Frijole');
body {
    background-color: #999999;
    padding-top: 1em;
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-family: 'Frijole', cursive;
    color: #ccc2cc;
}

.mg-top-50 {
    margin-top: 30px;
}